:root {
    --error-color: #e12525;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Monospace";
}

a,
a:visited {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#page-container {
    margin: 10px auto;
    width: 760px;
    height: 100vh;
    padding: 0px;
}

#page-container > header {
    position: relative;
}

.form-field input {
    height: 3ch;
    border: 1px solid black;
}

/* FORMS */

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field .error-msg {
    line-height: 1.2;
    font-size: 0.9em;
    color: var(--error-color);
}

form > .form-field + .form-field {
    margin-top: 20px;
}

#main-search {
    flex: 1;
    align-self: flex-start;
    margin-left: 10px;
}

#main-search > input {
    /*flex: 1;*/
}

#main-search > button {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

button[type=submit] {
      border: none;
      padding: 4px 8px;
      margin-top: 10px;
      background-color: #00f;
      color: white;
      padding: 10px 20px;
      font-weight: 600;
}


input {
    padding: 0.2em 0.7em;
}

input:user-invalid {
    /* to do*/
    border-color: var(--error-color);
}

input:focus {
    border-color: green;
    border-width: 2px;
    outline: none;
}


.form-footer {
    display: flex;
    justify-content: center;
}

.text-edit {
    width: 100%;
    height: 64ch;
    resize: none;
}

#article-editor > footer {
    display: flex;
    flex-direction: column;
}

#main-header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}
