{{ define "article-header" }}
<header>
    <nav id="article-controls">
        <ul>
            <li><a href="{{ .Data.ArticleURL }}" fx-action="{{ .Data.ArticleURL }}" fx-target="#content" fx-swap="innerHTML">Read</a></li>
            <li><a href="{{ .Data.HistoryURL }}" fx-action="{{ .Data.HistoryURL }}" fx-target="#content" fx-swap="innerHTML">History</a></li>
            <li><a href="{{ .Data.EditURL }}" fx-action="{{ .Data.EditURL }}" fx-target="#content" fx-swap="innerHTML">Edit</a></li>
        </ul>
    </nav>
</header>
{{ end }}
