{{ define "article-content" }}
<!-- TODO: re-render only article content when switching tabs -->

<form
    id="article-editor"
    action="{{ .Data.ActionURL }}"
    method="POST"
    fx-action="{{ .Data.ActionURL }}"
    fx-method="POST"
    fx-target="#content"
    fx-swap="innerHTML"
>
    <div>
        <textarea
            id="article-text"
            class="text-edit"
            name="content"
            aria-describedby="textarea-description"
        >
{{ .Data.Content }}</textarea
        >
    </div>
    <hr>
    <footer>
        <div id="summary-container">
            <label for="summary">{{ T "SummaryLabel" }}</label>
            <input id="summary" name="summary" type="text" />
        </div>
        <div>
            <button id="publish" type="submit">{{ T "Publish" }}</button>
            <button
                type="submit"
                formaction="/preview"
                fx-action="/preview"
                fx-method="POST"
                fx-target="#preview"
                fx-swap="innerHTML"
            >
                {{ T "Preview" }}
            </button>
        </div>
    </footer>
</form>

<output id="preview" for="article-editor" form="article-editor">{{ .Data.Preview }}</output>
{{ end }}
