{{define "header"}}
<header id="main-header">
    <ul id="general-nav">
        <li>
            <a
                class="nav-item"
                href="/"
                fx-action="/"
                fx-target="#content"
                fx-method="GET"
                fx-swap="innerHTML"
                >Home</a
            >
        </li>
        <li>
            <a
                class="nav-item"
                href="/recent"
                fx-action="/recent"
                fx-target="#content"
                fx-method="GET"
                fx-swap="innerHTML"
                >Recent changes</a
            >
        </li>
        <li>
            <a
                class="nav-item"
                href="/media"
                fx-action="/media"
                fx-target="#content"
                fx-method="GET"
                fx-swap="innerHTML"
                >Media</a
            >
        </li>
    </ul>

    <form
        id="main-search"
        action="/search"
        fx-action="/search"
        fx-method="GET"
        fx-target="#content"
        fx-swap="innerHTML"
    >
        <input id="query" name="query" type="text" placeholder="Search" />
    </form>
    <ul id="auth-header">
        {{ if .Authenticated }}
        <li>
            <a
                class="nav-item"
                href="/u/{{.Session.User.Username}}"
                fx-action="/u/{{.Session.User.Username}}"
                fx-method="GET"
                fx-target="#page-container"
                fx-swap="innerHTML"
                >{{.Session.User.Username}}</a
            >
        </li>
        <li>
            <a
                class="nav-item"
                href="/logout"
                fx-action="/logout"
                fx-method="POST"
                fx-target="#page-container"
                fx-swap="innerHTML"
                >Logout</a
            >
        </li>
        {{ else }}
        <li>
            <a
                class="nav-item"
                href="/login"
                fx-action="/login"
                fx-method="GET"
                fx-target="#content"
                fx-swap="innerHTML"
                >Login</a
            >
        </li>
        <li>
            <a
                class="nav-item"
                href="/register"
                fx-action="/register"
                fx-method="GET"
                fx-target="#content"
                fx-swap="innerHTML"
                >Register</a
            >
        </li>
        {{ end }}
    </ul>
</header>
{{end}}
