{{define "header"}}
<header>
    <nav>
        {{ if .Authenticated }}
        <a href="/">{{.Session.User.Username}}</a>
        <a
            href="/logout"
            fx-action="/logout"
            fx-method="POST"
            fx-target="#page-container"
            fx-swap="innerHTML"
            >Logout</a
        >
        {{ else }}
        <a
            href="/login"
            fx-action="/login"
            fx-method="GET"
            fx-target="#content"
            fx-swap="innerHTML"
            >Login</a
        >
        <a
            href="/register"
            fx-action="/register"
            fx-method="GET"
            fx-target="#content"
            fx-swap="innerHTML"
            >Register</a
        >
        {{ end }}
    </nav>
</header>
{{end}}
