{{define "header"}}
<header>
    <nav id="main-header">
        <ul>
            <li>
                <a
                    class="nav-item"
                    href="/"
                    fx-action="/"
                    fx-target="#content"
                    fx-method="GET"
                    fx-swap="innerHTML"
                    >Home</a
                >
            </li>
            <li>
                <a
                    class="nav-item"
                    href="/recent"
                    fx-action="/recent"
                    fx-target="#content"
                    fx-method="GET"
                    fx-swap="innerHTML"
                    >Recent changes</a
                >
            </li>
            <li>
                <a
                    class="nav-item"
                    href="/media"
                    fx-action="/media"
                    fx-target="#content"
                    fx-method="GET"
                    fx-swap="innerHTML"
                    >Media</a
                >
            </li>
        </ul>
        <form
            id="main-search"
            action="/search"
            fx-action="/search"
            fx-method="GET"
            fx-target="#content"
            fx-swap="innerHTML"
        >
            <svg
                id="search-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#000000"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg>
            <input id="query" name="query" type="text" placeholder="Search" />
        </form>
        <ul>
            {{ if .Authenticated }}
            <li>
                <a
                    class="nav-item"
                    href="/u/{{.Session.User.Username}}"
                    fx-action="/u/{{.Session.User.Username}}"
                    fx-method="GET"
                    fx-target="#page-container"
                    fx-swap="innerHTML"
                    >{{.Session.User.Username}}</a
                >
            </li>
            <li>
                <a
                    class="nav-item"
                    href="/logout"
                    fx-action="/logout"
                    fx-method="POST"
                    fx-target="#page-container"
                    fx-swap="innerHTML"
                    >Logout</a
                >
            </li>
            {{ else }}
            <li>
                <a
                    class="nav-item"
                    href="/login"
                    fx-action="/login"
                    fx-method="GET"
                    fx-target="#content"
                    fx-swap="innerHTML"
                    >Login</a
                >
            </li>
            <li>
                <a
                    class="nav-item"
                    href="/register"
                    fx-action="/register"
                    fx-method="GET"
                    fx-target="#content"
                    fx-swap="innerHTML"
                    >Register</a
                >
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
{{end}}
