<!doctype html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/index.js" defer></script>
        <script
            src="https://cdn.jsdelivr.net/gh/bigskysoftware/fixi@0.9.2/fixi.js"
            crossorigin="anonymous"
            integrity="sha256-0957yKwrGW4niRASx0/UxJxBY/xBhYK63vDCnTF7hH4="
        ></script>
    </head>

    <body>
        <button
            id="redirector"
            style="display: none"
            fx-target="#content"
            fx-action="/"
            fx-method="GET"
            fx-swap="innerHTML"
        ></button>
        <div id="page-container">{{block "container" .}}{{end}}</div>
    </body>
</html>
