{{ define "page-tabs" }}
<header>
    <div id="left">
        <h1>{{ .Title }}</h1> <!-- Add a conditional here. -->
        {{ if .ExtraControls }}
        &nbsp;-
        <ul>
            {{ range .ExtraControls }}
            <li>
                <a
                    href="{{ .URL }}"
                    fx-action="{{ .URL }}"
                    fx-target="#content"
                    fx-swap="innerHTML"
                    {{ if .Method }}
                    fx-method="{{ .Method }}"
                    {{ end }}
                    >{{ T .Label }}</a
                >
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <nav id="page-tabs">
        <ul>
            {{ range .Controls }}
            <li class="nav-item page-tab {{ if .Selected }}selected{{ end }}">
                <a
                    href="{{ .URL }}"
                    fx-action="{{ .URL }}"
                    fx-target="#content"
                    fx-swap="innerHTML"
                    >{{ T .Label }}</a
                >
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
{{ end }}
