{{ define "content" }}
<form
    id="login-form"
    action="/login"
    method="POST"
    fx-target="#page-container"
    fx-swap="innerHTML"
    fx-action="/login"
    fx-method="POST"
>
    <label for="email">Email</label>
    <div class="auth-field">
        <p class="error-message" aria-live="assertive"></p>
        <input id="email" name="email" type="email" required />
    </div>

    <label for="password">Password</label>
    <div class="auth-field">
        <input id="password" name="password" type="password" required />
        <label class="error-msg" for="password" aria-live="assertive"></label>
    </div>

    <footer class="form-footer">
        <button type="submit">Login</button>
    </footer>
</form>
{{ end }}
