{{define "content"}}
<form
    id="register-form"
    action="/register"
    method="POST"
    fx-action="/register"
    fx-target="#signup-result"
    fx-swap="innerHTML"
    fx-method="POST"
>
    <div class="form-field">
        <label for="username">Username</label>
        <br />
        <input id="username" name="username" type="text" required />
        <label
            class="inline-error"
            for="username"
            aria-live="assertive"
        ></label>
    </div>

    <div class="form-field">
        <label for="email">E-mail</label>
        <br />
        <input id="email" name="email" type="email" required />
        <label class="inline-error" for="email" aria-live="assertive"></label>
    </div>

    <div class="form-field">
        <label for="password">Password</label>
        <br />
        <input id="password" name="password" type="password" required />
        <label
            class="inline-error"
            for="password"
            aria-live="assertive"
        ></label>
    </div>

    <button
        type="submit"
        fx-action="/register"
        fx-method="POST"
        fx-target="#page-container"
    >
        Register
    </button>
</form>
{{end}}
