{{define "content"}}
<form
    id="register-form"
    action="/register"
    method="POST"
    fx-action="/register"
    fx-target="#signup-result"
    fx-swap="innerHTML"
    fx-method="POST"
>
    <p class="error-message" aria-live="assertive"></p>
    <div class="form-field">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" required />
        <label class="error-msg" for="username" aria-live="assertive"></label>
    </div>

    <div class="form-field">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" required />
        <label class="error-msg" for="email" aria-live="assertive"></label>
    </div>

    <div class="form-field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
        <label class="error-msg" for="password" aria-live="assertive"></label>
    </div>

    <footer class="form-footer">
        <button
            type="submit"
            fx-action="/register"
            fx-method="POST"
            fx-target="#page-container"
            fx-swap="innerHTML"
        >
            Register
        </button>
    </footer>
</form>
{{end}}
