{{define "content"}}
<form
    id="register-form"
    action="/register"
    method="POST"
    fx-action="/register"
    fx-target="#signup-result"
    fx-swap="innerHTML"
    fx-method="POST"
>
    {{ if .Data.SuccessRedirect }}
    <input type="hidden" name="proceed" value="{{ .Data.SuccessRedirect }}" >
    {{ end }}
    <p class="error-message" aria-live="assertive"></p>
    <label for="username">{{ T "Username" }}</label>
    <div class="auth-field">
        <label class="error-msg" for="username" aria-live="assertive"></label>
        <input id="username" name="username" type="text" required />
    </div>

    <label for="email">{{ T "Email" }}</label>
    <div class="auth-field">
        <label class="error-msg" for="email" aria-live="assertive"></label>
        <input id="email" name="email" type="email" required />
    </div>

    <label for="password">{{ T "Password" }}</label>
    <div class="auth-field">
        <label class="error-msg" for="password" aria-live="assertive"></label>
        <input id="password" name="password" type="password" required />
    </div>

    <footer class="form-footer">
        <button
            type="submit"
            fx-action="/register"
            fx-method="POST"
            fx-target="#page-container"
            fx-swap="innerHTML"
        >
            {{ T "Register" }}
        </button>
    </footer>
</form>
{{end}}
